{% extends "base.html" %}
{% load static %}
{% block title %}Bienvenue sur Agrinnovators{% endblock %}

{% block content %}
<style>.intro-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
    background-color: rgba(190, 200, 190, 0.929);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-container {
    text-align: center;
    margin-bottom: 20px;
}

.hero-title {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #08611c;
    font-weight: 700;
    font-variant: small-caps;
    font-size: 2.5rem;
}

.hero-title span {
    color: #eee5e5ee;
}

.intro-text {
    font-size: 16px;
    line-height: 1.6;
    color: #0f0e0edd;
}
</style>
    <div class="intro-container">
        <div class="hero-container">
            <h1 class="hero-title">
                Bienvenue
                <span>Sur</span>
                Agrinnovators
            </h1>
        </div>

        <p class="intro-text">
            La plateforme "Agrinnovators" a pour mission de moderniser l'agriculture mauritanienne en fournissant aux agriculteurs des outils avancés pour la gestion des informations agricoles, des prédictions de rendements et une prise de décision éclairée.
        </p>
        <p class="intro-text">
            Explorez nos fonctionnalités pour obtenir des résultats et des idées avant de concrétiser vos projets agricoles. Notre objectif est de faciliter la gestion de vos activités agricoles et de vous accompagner tout au long du processus.
        </p>
        <p>
            Pour insérer vos données, veuillez <a href="{% url 'inserer_donnees' %}" class="insert-data-button">cliquer ici</a>.
        </p>
    </div>
{% endblock %}
